.App {
	text-align: center;
	min-height: 100vh;
	background: linear-gradient(to right, #edc7b7, #e09f84); /* Charcoal gradient */
	color: white; /* Adjust text color for visibility */
	position: relative;
	overflow: hidden;
	z-index: -2;
}
.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#tsparticles {
	position: fixed;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	z-index: -1;
}
